<%- include('partials/header')  %> 
    <main id="pageHome">
        <section>
            <img id="coverHome" src=" /images/megasaldao.png " alt="MEGA SALDAO ">
        </section>
        <section id="box1Home">
            MEGA SALDÃO
        </section>
        <section id="box2Home">
            <nav class="img1">
                <img id="processadorOFF" src="/images/processador.jpg" alt="processador i5">
                <label for="processadorOFF">10%</label>
                <p>
                    Processador Intel i5
                    11 Geração 
                    3,7 GHz
                  </p>
            </nav>
            <nav class="img1">
                <img id="monitorOFF" src="/images/monitor.jpg" alt="monitor gamer">
                <label for="monitorOFF">25%</label>
                <p>
                    Monitor Gamer 27' 144Hz
                    Marca: LG
                  </p>
            </nav>
            <nav class="img1">
                <img id="cadeiraOFF" src="/images/cadeiragamer.jpg" alt="cadeira gamer husky">
                <label for="cadeiraOFF">12%</label>
                <p>
                    Cadeira Gamer husky
                    Cor: Preta
                  </p>
            </nav>
            <nav id="news">
                <img src="" alt="">

            </nav>

        </section>
    </main>

    <%- include('partials/footer') %> 
    
   