<%- include('partials/header') %>

    <main>
        <h1> Xbox Series S </h1>

        <div class="produto">
            <img src="/images/xboxseries.jpg" alt="xboxseries">

            <div id="blocoDeValores">
                <h3>
                    PREÇO:
                </h3>
                <p1> 
                    R$ 2099,00
                </p1>
                <span id="compras">
                     
                    <a id="comprar" href="/finalizar">COMPRAR</a>
                     
                    <a id="carrinho"href="/carrinho">CARRINHO</a>
                    
                </span>
                
            </div>
        </div>

        <div class="descricao">
            <h2>
                Descrição
            </h2>
        </div>
        <div class="sobreOProduto">
            <p>
                Xbox Series S, nosso Xbox menor e mais elegante de todos os tempos. Com taxas de quadros mais altas,
                tempos de carregamento mais rápidos e mundos mais ricos e dinâmicos, o Xbox Series S oferece desempenho
                e velocidade de última geração em um formato compacto e totalmente digital. O Xbox Series S também
                possui os melhores serviços para jogadores de todos os tipos. O Game Pass é um serviço que te dá acesso
                a centenas de jogos de todos os gêneros (assinatura vendida separadamente). O melhor sistema online para
                multiplayer está presente no Xbox Series S, o Xbox Live (assinatura vendida separadamente). Tudo isso
                com um SSD de 512GB para armazenar esses jogos. Venha para o lado verde!
            </p>


        </div>
    </main>

    <%- include('partials/footer') %> 


</body>

</html>