<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/b98784f180.js" crossorigin="anonymous"></script>
    <title> Loja Virtual - devHard </title>
</head>

<body>
    <header>
        <nav id="header">
            <div>
                <img id="logomarca" src="../img/logobranca.png" alt="Logomarca Branca" width="150">
            </div>
            <div>
                <form action="">
                    <input id="inputBusca" type="search" placeholder="Busque aqui">
                    <input id="botaoEnviar" type="submit" title="Buscar" name="Buscar">
                    <label id="labelBuscar" for="botaoEnviar">Buscar</label>
                </form>
            </div>

            <nav id="iconesHeader">
                <a id="buttonCarrinho" href="./carrinho.html">
                    <i class="fa-solid fa-cart-shopping fa-2x"></i>
                </a>
                <i class="fa-solid fa-circle-user fa-2x"></i>
            </nav>

            <span id="cadastro">
                Faça 
                <a id="infLogin" href="./loginCadastro.html">Login</a>
                ou 
                <br>
                <a id="infCrie"href="./loginCadastro.html">Crie</a>
                uma conta
            </span>
        </nav>

        <nav id="barraDeNav">
            <a href="./home.html">HOME</a>
            <a href="#">PROMOÇÕES</a>
            <a href="#">DEPARTAMENTOS ▼</a>
        </nav>
    </header>

</body>

</html>